body{
    font-family: 'Oswald', sans-serif;
}
#center{
    text-align: center;
    font-size:50px;
    color: white;
}
   
#paddingtop{
    padding-top: 280px;
}
#top-banner{
   background-image: url(flood.jpg);
   background-repeat: no-repeat;
   padding-bottom: 150px;
   
}
h5{
    text-align: center;
    color: white;
    padding-bottom: 50px;
}
h2{
    text-align: center;
    
}
.link-botton{
    text-decoration:none;
    background-image: linear-gradient(orange, tomato);
    color: bisque;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 40px;
    
    
   
}
.donate{
    text-align: center;
    font-size:50px;
    color: black;
    font-weight: 700;
}
.short-description{
    text-align: center;
    color: black;

}
#flex{
    display: flex;
}
.width{
    width: 30%;
}
#bgpo1{
    background-color: aquamarine;
    text-align: center;
    padding: 10px 10px; 
    margin-left: 20px;
    
}
#bgpo2{
    background-color: aquamarine;
    margin-left: 20px;
    padding: 10px 10px;
    
}
#bgpo3{
    background-color: aquamarine;
    margin-left: 20px;
    padding: 10px 10px;
    
}
#bgpo4{
    background-color: aquamarine;
    margin-left: 20px;
    padding: 10px 10px;
    
}
#bgpo5{
    background-color: aquamarine;
    margin-left: 20px;
    padding-left: 10px;
    
}
#on{
    padding-left: 150px;
    
    
}

#tw{
    padding-left: 200px;
}
#th{
    padding-left: 200px;
    
}
#fo{
    padding-left: 250px;
}
#five{
    padding-left: 300px;
   
}
#Other-Amount{
    text-align: center;
    padding-top: 50px;
}
#snd-link-bottoncenter{
    text-align: center;
}
.sndcenter{
    text-align: center;
    padding-top: 30px;
    font-size: 60px;

}
#flex3{
    display: flex;
}

#family-1{
    width: 25%;
    margin-left: 4%;
    margin-right: 2%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    box-shadow: 5px 5px 5px 5px orange; 
    background-image: url(food.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 330px 1px;


   

}
#sel-2{
    width: 25%;
    margin-left: 4%;
    margin-right: 2%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    box-shadow: 5px 5px 5px 5px orange;    
    background-image: url(shrlter.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 330px 1px;

   
    

}
#Edu-3{
    width: 25%;
    margin-left: 4%;
    margin-right: 2%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    box-shadow: 5px 5px 5px 5px orange;
    background-image: url(edu.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 330px 1px;

    
}
#flex4{
    display: flex;
}
#tran{
    width: 50%;
}
#tran img{
    width: 400px;
    margin-left: 200px;
    margin-top: 80px;
    
}
#their{
    margin-top: 130px;
}
#live{
    font-size: 40px;
}
    #get{
        text-align: center;
        color: black;
    }
#bg{
    background-color: brown;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 100px;
    
    border-radius: 20px;
  
}
#input{
    margin-left: 38%;
    padding-top: 10px;
    padding-bottom: 110px;
    
  
    
}
#lastbg{
    background-color: aqua;
    padding-top: 100px;

}
footer{
    margin-left: 47%;
    padding-bottom: 50px ;
    font-size: 30px;
}
    