body{
    font-family: 'Oswald', sans-serif;
}
#center{
    text-align: center;
    font-size:50px;
    color: white;
}
   
#paddingtop{
    padding-top: 280px;
}
#top-banner{
   background-image: url(flood.jpg);
   background-repeat: no-repeat;
   padding-bottom: 150px;
   
}
h5{
    text-align: center;
    color: white;
    padding-bottom: 50px;
}
h2{
    text-align: center;
    
}
.link-botton{
    text-decoration:none;
    background-image: linear-gradient(orange, tomato);
    color: bisque;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 40px;
    
    
   
}
.donate{
    text-align: center;
    font-size:50px;
    color: black;
    font-weight: 700;
}
.short-description{
    text-align: center;
    color: black;

}
#flex{
    display: flex;
}
.width{
    width: 30%;
}
#bgpo1{
    margin-left: 470px;
    background-color: aquamarine;
    padding-left: 20px;
    padding-right: 20px;
    
}
#bgpo2{
    margin-left: 20px;
    background-color: aquamarine;
    padding-left: 20px;
    padding-right: 20px;
    
}
#bgpo3{
    margin-left: 20px;
    background-color: aquamarine;
    padding-left: 20px;
    padding-right: 20px;
    border: 5px solid chocolate;
    box-shadow: 4px  4px  7px ;
    
}
#bgpo4{
    margin-left: 20px;
    background-color: aquamarine;
    padding-left: 10px;
    padding-right: 10px;
    
}
#bgpo5{
    margin-left: 20px;
    background-color: aquamarine;
    padding-left: 10px;
    padding-right: 10px;
    
}
#Other-Amount{
   text-align: center;
}
#snd-link-bottoncenter{
    text-align: center;
}
.sndcenter{
    text-align: center;
    padding-top: 30px;
    font-size: 60px;

}
#flex3{
    display: flex;
}

#family-1{
    width: 25%;
    margin-left: 4%;
    margin-right: 2%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    box-shadow: 5px 5px 5px 5px orange; 
    background-image: url(food.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 330px 1px;


   

}
#sel-2{
    width: 25%;
    margin-left: 4%;
    margin-right: 2%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    box-shadow: 5px 5px 5px 5px orange;    
    background-image: url(shrlter.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 330px 1px;

   
    

}
#Edu-3{
    width: 25%;
    margin-left: 4%;
    margin-right: 2%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    box-shadow: 5px 5px 5px 5px orange;
    background-image: url(edu.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 330px 1px;

    
}
#flex4{
    display: flex;
}
#tran{
    width: 50%;
}
#tran img{
    width: 400px;
    margin-left: 200px;
    margin-top: 80px;
    
}
#their{
    margin-top: 130px;
}
#live{
    font-size: 40px;
}
    #get{
        text-align: center;
        color: black;
    }
#bg{
    background-color: brown;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 100px;
    
    border-radius: 20px;
    display: flex;
}
#input{
    margin-left: 38%;
    padding-top: 10px;
    padding-bottom: 110px;
    size: 50px;
}


#input2{
    margin-left: 00%;
    padding-top: 10px;
    padding-bottom: 110px;
}
#subscribe{
    padding: 10px;
    background-color: rgb(47, 44, 222);
}
}
#lastbgc{
   background-color: black;
    padding-top: 100px;
  

}
footer{
   
    background-color: black;
    height: 200px;
}
#life{
    color: aliceblue;
    margin-left: 43%;
    padding-top: 80px ;
    font-size: 30px;
}
    #mar{
        margin-left: 300px;
        margin-right: 300px;
       
    }
#eml{
    padding: 10px;
    background-color:bisque;
    color: black;
    font-weight: 700;
    border-radius-:4px;
}
#button{
    padding-left:10px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:rgb(34, 156, 164);
    border-radius: 4px;
}